<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860575204143-9qvb2j6anpnq73nfgj9beog2g2f3q8c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860575204143-9qvb2j6anpnq73nfgj9beog2g2f3q8c8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860575204143-33rhkmphf7lmkl06ucqdmd5ckv3mgncv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAorAxfL-IvYMfHlLHsmb9b51e3wSgxFZw</string>
	<key>GCM_SENDER_ID</key>
	<string>860575204143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendorApp.stg</string>
	<key>PROJECT_ID</key>
	<string>subam-events</string>
	<key>STORAGE_BUCKET</key>
	<string>subam-events.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860575204143:ios:ad8e456617694972a5d7da</string>
</dict>
</plist>